.fc-list-view table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    table-layout: auto;
}

.fc-list-view td,
.fc-list-view th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */

    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}
.fc-list-view td:first-child,
.fc-list-view th:first-child {
    border-left-width: 0;
}

.fc-list-view th {
	line-height: 27px;
    background: #ddd;
    text-align: left;
    vertical-align: bottom;
}


.fc-list-view td {
	line-height: 23px;
}

.fc-list-view tbody > tr:last-child td {
    border-bottom-width: 0;
}

.fc-list-view .fc-event {
    width: 10px;
    height: 10px;
    display: inline-block;
}

.fc-list-view .fc-event-handle {
	width: 38px;
}

.fc-list-view .fc-title {
	width: 99%;
}

.fc-list-view .fc-time,
.fc-list-view .fc-location {
	white-space: nowrap;
    width: 1px;
}

.fc-list-view .fc-header-date {
    float: right;
    color: #666;
}

.fc-list-view .fc-scroller {
    border: 1px solid #ddd;
    border-right: 0;
    border-left: 0;
}
